<p id = "notice"><%= notice %></p>

<h1 style="text-align: center;">æŠ•ç¨¿è¨˜äº‹ä¸€è¦§</h1>

<div class="row">
<ul>
    <% @articles.each do |article| %>
      <div class="col-xs-6 col-lg-4" style="padding-bottom: 20px;">
    <li>
      <h4>
      <%= link_to article.title, article_path(article.id) %>
      <% if "#{article.picture}" =~ /.*(.png|.jpg|.gif)$/ %>
       ðŸ“Ž
      <% end %>
    </h4>
      ã‚«ãƒ†ã‚´ãƒªãƒ¼:<%= article.category&.name %><br>
      æŠ•ç¨¿è€…:<%= article.user&.name %>
      <% if article.user_id == current_user&.id %>
        <%= link_to "ç·¨é›†", edit_article_path(article.id) %>
        <%= link_to "å‰Šé™¤", article_path(article.id), method: :delete, data: {confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ"} %>
      <% end %>
        </div>
    </li>
    <% end %>

</ul>
</div>

<hr>
<%= paginate @articles %>

<% if user_signed_in? %>
  <p><%= link_to "æ–°è¦è¨˜äº‹ä½œæˆ", new_article_path %></p>
  <p><%= link_to "ã‚«ãƒ†ã‚´ãƒªãƒ¼ç¢ºèªãƒ»ç·¨é›†", categories_path %></p>
<% else %>
  <p><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦è¨˜äº‹ã‚’æŠ•ç¨¿ã™ã‚‹", new_user_session_path %></p>
<% end %>
