<h1>作成記事一覧</h1>

<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article.id) %>
    <%= article.category.name %>
    <%= link_to "編集", edit_article_path(article.id) %>
    <%= link_to "削除", article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  </li>
  <% end %>
</ul>

<hr>
<%= paginate @articles %>

<p><%= link_to "新規記事作成", new_article_path %></p>
<p><%= link_to "カテゴリー確認・編集", categories_path %></p>
