<h1 style="text-align: center;">投稿記事一覧</h1>

<div class="row">
    <% @articles.each do |article| %>
      <div class="col-xs-6 col-lg-4" style="height: 180px;">
      <h2 style="font-size: 20px;">
        <% if article.picture? %>
          <%= link_to image_tag(article.picture_url(:thumb)), article_path(article.id) %>
        <% else %>
          <%= link_to image_tag('noimage.png', :size => '50x50'), article_path(article.id) %>
        <% end %>
        <%= link_to article.title, article_path(article.id) %>
      </h2>
        <% if article.user_id == current_user&.id %>
          <%= link_to "編集", edit_article_path(article.id) %>
          <%= link_to "削除", article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか？"} %><br>
        <% end %>
        カテゴリー:<%= article.category&.name %><br>
        投稿者:<%= article.user&.name %><br>
      </div>
    <% end %>
</div>

<hr>
<%= paginate @articles %>

<% if user_signed_in? %>
  <p><%= link_to "新規記事作成", new_article_path %></p>
  <p><%= link_to "カテゴリー確認・編集", categories_path %></p>
<% else %>
  <p><%= link_to "ログインして記事を投稿する", new_user_session_path %></p>
<% end %>
