<!DOCTYPE html>
<html>
<head>
  <title>blogapp</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <div class="container">
      <% if user_signed_in? %>
        こんにちは <strong><%= current_user.email %></strong>さん。
        <%= link_to 'プロフィール変更', edit_user_registration_path %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>
  </nav>
  <span style="text-align: right">
    <div class="container">
      <div class="collapse navbar-collapse">
      <!--以下アクションメソッドの指定を修正する必要あり-->
        <%= form_tag "/articles/find" do %>
          テキスト検索：<%= text_field_tag 'q[search_string]' %><br>
          カテゴリー検索：
          <%= select_tag 'q[search_category]', options_for_select(Category.all.pluck(:name, :id)), :include_blank => true %><br>
          <%= submit_tag "検索" %>
        <% end %>
        <% if user_signed_in? %>
          <%= form_tag "/articles/find" do %>
            <%= hidden_field_tag 'search_mine', current_user.id %>
            <%= submit_tag "my記事" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </span>
</header>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <%= link_to "ホーム", articles_path %>
    <p>Copyright (C) 2016 ShiradoYoshiyasu All Rights Reserved.</p>
  </div>
</footer>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>
